* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #b3e0f2 25%, rgba(0, 0, 0, 0) 25%) -125px 0, linear-gradient(225deg, #b3e0f2 25%, rgba(0, 0, 0, 0) 25%) -125px 0, linear-gradient(315deg, #b3e0f2 25%, rgba(0, 0, 0, 0) 25%), linear-gradient(45deg, #b3e0f2 25%, rgba(0, 0, 0, 0) 25%);
  background-size: 250px 250px;
  background-color: skyblue;
}

.ball {
  opacity: .75;

}
.ball:before, .ball:after {
  animation: .8s ease-in-out alternate infinite;
  content: "";
  display: block;
  border-radius: 50%;
  margin: 250px auto;
  position: absolute;
  transition: left 1s;
   left: 0vw;
}
.ball:before {
  animation-name: Bounce;
  background: radial-gradient(farthest-side at 44% 28%, #ffa3a3, #ff0000 30%, #800000 150%);
  height: 80px;
  width: 80px;
  z-index: 2;
}
.ball:after {
  animation-name: Shrink;
  height: 12px;
  width: 96px;
  background: #000;
  box-shadow: 0 0 4px #000;
  bottom: 5px;
}
.left:before, .left:after{
  left: 50vw !important;
}
@keyframes Bounce {
  0% {
    bottom: 25%;
    
  }
  70% {
    transform: scale(1, 1);
  }
  100% {
    bottom: 0;
    transform: scale(1.15, 0.8);
    
  }
}

@keyframes Shrink {
  0% {
    transform: scale(1.1);
    opacity: .15;
    
  }
  100% {
    transform: scale(0.6);
    opacity: .45;

}
