.mover-container{
	position: absolute;
}

.rnd-loc-1{ 
	left: 50px;
	top: 40px;
}

.rnd-loc-2{
	right: 75px;
	top: 32px;
}

.rnd-loc-3{
	left: 88px;
	top: 122px;
}

.rnd-loc-4{
	right: 139px;
	bottom: 258px;
}

.rnd-loc-5{
	top: 500px;
	left: 220px;
}

.rnd-loc-6{
	right: 41%;
	bottom: 80%;
}

.rnd-loc-7{
	left: 138px;
	bottom: 299px;
}