*{
  box-sizing: border-box;
}

.row{
  max-width: 1000px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.col{
  width: 100%;
}

/*Clearfix*/
.row::before,.row::after{
  display: table;
  content: '';
}

.row::after{
  clear: both;
}

.col, .col-4, .col-12{
  float: left;
  padding-right: 1.04166%;
  padding-left: 1.04166%;
}

@media only screen and (min-width: 640px){
  .col-4{
    width: 33.3333333333%;
  }

  .col-12{
    width: 100%;
  }
}











