*{
	box-sizing: border-box;
}

html, body{ 
	margin:0px; 
	padding:0px; 
}
body{ 
	display:block; 
	width:100%; 
	height:100%;
	margin-left: auto;
	margin-right: auto; 
	font-family: 'Play', sans-serif;
	color: white;
}

header{
	width: 100%;
	margin: auto;
	text-align: center;
	position: relative;
    height: 105px;
}

footer{
	height: 23%;
	position: fixed;
	bottom: 0;
	text-align: left;
	overflow: scroll;
}

footer::-webkit-scrollbar{
	display: none;
}

.info-container, .location-form{
	width: 80%;
	margin: auto;
	padding-top: 30px;
}

#main{ 
	padding:0px;
	display:block; 
	width:100%; 
	height:300px;

}

.calendar-container{
	width: 100%;
}

.calendar{
	display: inline-block; 
	white-space: nowrap;
	width: 100%; 
	overflow: scroll;
} 
.calendar canvas{
    display: inline-block;
}

.lil-guy{
	display: block;
	width: 50px;
}

.calendarWDay{
	width: 50px;
    text-align: center;
    display: block;
}

.today-container{
	text-align: center;
}

#today {
	max-width: 300px;
	width: 50%;
    margin-left: auto;
    margin-right: auto; 
}

.contains-calendar-day{
	display: inline-block;
}

.calendar::-webkit-scrollbar { 
	display: none; 
}

.c-info{
	font-size: 18px;
	margin: 0px;
}

#canV{
	background: url('https://media.giphy.com/media/3osxYzIQRqN4DOEddC/giphy.gif');
	background-size: cover;
	background-position: center;
}

.currentDay{
	border: 2px solid gold;
	color: black;
}

.js-calendar-info{
	padding-left: 25px;
	padding-bottom: 25px;
}

.city-container{
	width: 100%;
}

.city{
	text-align: center;
    margin-top: 0;
    font-size: 22px;
}

@media (min-width: 600px){
	#main{
		padding:50px;
	}
}

@media (max-height: 570px){
	#canV{
		height: 200px;
		width: 100%;
	}

	#main{
		height: auto;
	}
}

@media (min-height:650px){
	.c-info{
		font-size: 24px;
	}

	.info{
		font-size: 24px;
	}

	.lil-guy{
		width: 75px;
	}

	#location-form{
		height: 30px;
	}
}