*{
	box-sizing: border-box;
}

html, body{ 
	margin:0px; 
	padding:0px; 
}
body{ 
	display:block; 
	width:100%; 
	height:100%; 
}

header{
	width: 100%
	margin: auto;
	text-align: center;
}

.info-container, .location-form{
	width: 80%;
	margin: auto;
}

#main{ 
	display:block; 
	width:100%; 
	/*padding:50px 10%; */
	height:300px;
}
.calendar{
	display: inline-block; 
	white-space: nowrap;
	width: 100%; 
	overflow: hidden; 
	scroll-behavior: none;
} 
.calendar canvas{
    display: 
    inline-block;
    width: 50px;
}