*{
	box-sizing: border-box;
}

html, body{ 
	margin:0px; 
	padding:0px; 
}
body{ 
	display:block; 
	width:100%; 
	height:100%;
	margin-left: auto;
	margin-right: auto; 
	font-family: 'Play', sans-serif;
	color: white;
}

header{
	width: 100%;
	margin: auto;
	text-align: center;
	position: relative;
    height: 105px;
}

.info-container, .location-form{
	width: 80%;
	margin: auto;
}

#main{ 
	padding:0px;
	display:block; 
	width:100%; 
	height:300px;

}

.calendar-container{
	width: 100%;
	position: absolute;
	bottom: 0;
}

.js-calendar-info{
	text-align: center;
	text-shadow: -1, 1, black;
}

.calendar{
	display: inline-block; 
	white-space: nowrap;
	width: 100%; 
	overflow: scroll;
} 
.calendar canvas{
    display: inline-block;
    width: 50px;
}

#today {
	width: 75%;
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
    z-index: -1;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto; 
}

.calendar::-webkit-scrollbar { 
	display: none; 
}

.c-info{
	font-size: 18px;
	margin: 0px;
}

#canV{
	background: url('https://media.giphy.com/media/3osxYzIQRqN4DOEddC/giphy.gif');
	background-size: cover;
	background-position: center;
}

@media (min-width: 600px){
	#main{
		padding:50px;
	}
}